* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'robotoregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 10px;
  }

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 0;
}

.header,
.content-blurb,
.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-blurb {
    padding-top: 75px;
    padding-bottom: 75px;
    align-items: stretch;
}

.blurb-left,
.blurb-right {
    display: flex;
    flex: 1;
    justify-content: center;
}

.blurb-left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    align-items: flex-start;
}

.blurb-left-header {
    font-family: 'robotobold';
    font-size: 48px;
}

.blurb-left-content,
ul {
    font-size: 18px;
    color: #E5E7EB;
}

.blurb-left-button {
    margin-top: 10px;
}

.blurb-right {
    background-color: grey;
    padding: 1em;
    align-items: center;
}

.content-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    padding-bottom: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

.info-title {
    font-family: 'robotobold';
    font-size: 36px;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.card {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.card-text {
    font-size: smaller;
    text-align: center;
}

.content-quote {
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: #1F2937;
    font-family: 'robotolight_italic';
    font-size: 36px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
}

.content-action {
    display: flex;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.action {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    flex: 1;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.action-text-header {
    font-family: 'robotobold';
    font-size: 18px;
}

.action-button {
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}